@model PersonalFinanceManager.Models.Saving.SavingEditModel

@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = "Manage savings";
    ViewBag.FormTitle = "Create saving";
}

@section BreadCrumbSection
{
<li>
    <a href="/AccountManagement/Index">Account Management</a>
</li>
<li class="active">
    <strong>@ViewBag.FormTitle</strong>
</li>
}

@section AccountDetails
{
    <div class="alert alert-info" role="alert">
        <table>
            <tr>
                <td><strong>@Html.DisplayName("Current Amount:")</strong></td>
                <td>@ViewBag.CurrentAmount</td>
            </tr>
        </table>
    </div>
}

@section EditorSection
{
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <input type="hidden" value="@ViewBag.AccountId" />
             
            <div class="form-group">
                @Html.LabelFor(model => model.DateSaving, htmlAttributes: new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.DateSaving, new { @Value = Model.DisplayedDateSaving, @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DateSaving, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.FieldEditor(model => model.Amount)

            <div class="form-group">
                @Html.LabelFor(model => model.TargetInternalAccountId, htmlAttributes: new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.TargetInternalAccountId, @Model.AvailableInternalAccounts, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TargetInternalAccountId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.ButtonNames.AddSaveButton" class="btn btn-primary btn_save" />
                    @Html.ActionLink(Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

@section ScriptsSection
{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/custom/Saving.js"></script>


    <script type="text/javascript">

        $(function () {

            $("#DateSaving").datepicker({
                dateFormat: "dd/mm/yy"
            });

            $.validator.methods.date = function (value, element) {
                Globalize.culture("en-UK");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        });

    </script>
}
