@helper ListButtons(int id, bool canBeDeleted, bool canBeEdited, string controllerName, string tooltipDeleteButton, string description)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    if (@canBeEdited)
    {
        <a href="/@controllerName/Edit/@id" title="@Resources.ButtonNames.EditTooltip" class="btn_edit"><i class="fa fa-pencil-square-o"></i></a>
    }

    Html.Raw("|");

    if (@canBeDeleted)
    {
        <a title="@Resources.ButtonNames.DeleteTooltip" class="btn_delete" data-toggle="modal" data-target="#DeletionConfirmationBox" data-description="@description" data-url="/@controllerName/Delete/@id"><i class="fa fa-trash-o"></i></a>
    }
    else
    {
        <i class="fa fa-trash-o" style="color: darkgrey;" title="@tooltipDeleteButton"></i>
    }
}

@helper EditButton(int id, bool canBeEdited, string controllerName, string tooltipEditButton)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    if (@canBeEdited)
    {
        <a href="/@controllerName/Edit/@id" title="@Resources.ButtonNames.EditTooltip" class="btn_edit"><i class="fa fa-pencil-square-o"></i></a>
    }
    else
    {
        <i class="fa fa-pencil-square-o" style="color: darkgrey;" title="@tooltipEditButton" class="btn_edit"></i>
    }
}

@helper DeleteButton(int id, bool canBeDeleted, string controllerName, string tooltipDeleteButton, string description)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    if (@canBeDeleted)
    {
        <a title="@Resources.ButtonNames.DeleteTooltip" class="btn_delete" data-toggle="modal" data-target="#DeletionConfirmationBox" data-description="@description" data-url="/@controllerName/Delete/@id"><i class="fa fa-trash-o"></i></a>
    }
    else
    {
        <i class="fa fa-trash-o" style="color: darkgrey;" title="@tooltipDeleteButton" class="btn_delete"></i>
    }
}

@helper ShowArrow(decimal value1, decimal value2)
{
    var Html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;

    Html.Raw("&nbsp;&nbsp;");

    if (value1 > value2)
    {
        <i class="fa fa-level-down" aria-hidden="true" style="color:green"></i>
    }
    else if (value1 < value2)
    {
        <i class="fa fa-level-up" aria-hidden="true" style="color:red"></i>
    }
    else
    {
        <i class="fa fa-minus" aria-hidden="true" style="color:grey"></i>
    }

}

@helper FormFooterButtons(string controllerName)
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="@Resources.ButtonNames.AddSaveButton" class="btn btn-primary btn_save" />
            <a class="btn btn-default" href="/@controllerName/Index">@Resources.ButtonNames.CancelButton</a>
        </div>
    </div>
}

@helper DisplayAmountDifference(decimal amount, string displayedAmount)
{
    <br />
    if (@amount < 0)
    {
        <label style="font-size: x-small; color:green">(@displayedAmount <i class="fa fa-caret-down" aria-hidden="true"></i>)</label>
    }
    else if (@amount > 0)
    {
        <label style="font-size: x-small; color:red">(@displayedAmount <i class="fa fa-caret-up" aria-hidden="true"></i>)</label>
    }
    else
    {
        <label style="font-size: x-small;"></label>
    }
}