@model IEnumerable<PersonalFinanceManager.Models.Account.AccountListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.AccountPages;
    ViewBag.GridTitleadmin = Resources.TitleNames.AccountList;

    ViewBag.DeletionConfirmationTitle = Resources.TitleNames.AccountDelete;
    ViewBag.DeletionConfirmationMessage = Resources.ConfirmationMessages.AccountConfirmationDeletion;
}

@section AddButtonSection
{
    <a href="/BankAccount/Create" title="add"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="accountList">
        <colgroup>
            <col width="2%" />
            <col width="23%" />
            <col width="20%" />
            <col width="15%" />
            <col width="15%" />
            <col width="15%" />
            <col width="15%" />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BankName)
                </th>
               <th>
                    @Html.DisplayNameFor(model => model.CurrencyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitialBalance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CurrentBalance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.IsFavorite)
                        {
                            <i class="fa fa-star" aria-hidden="true" style="color:#ffca00"></i>
                        }     
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BankName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayedInitialBalance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayedCurrentBalance)
                    </td>
                    <td align="right">
                        @if (!item.IsFavorite)
                        {
                            <a href="/BankAccount/SetAsFavorite/@item.Id" title="@Resources.ButtonNames.SetAsFavoriteTooltip">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </a>
                        }                            
                        @CustomHelpers.ListButtons(@item.Id, item.CanBeDeleted, "BankAccount", @Resources.DisabledButtonTooltips.AccountCantBeDeleted, @item.Name)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
