@model PersonalFinanceManager.Models.ExpenditureType.ExpenditureTypeEditModel

@{
    Layout = "~/Views/Shared/_LayoutConfirmDeletion.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.ExpenditureTypePages;
    ViewBag.FormTitle = Resources.TitleNames.ExpenditureTypeDelete;
    ViewBag.ConfirmationMessage = Resources.ConfirmationMessages.ExpenditureTypeConfirmationDeletion;
}

@section DetailsSection
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
}

@section DeletionButtonSection
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.ButtonNames.DeleteButton" class="btn btn-primary" />
            @Html.ActionLink(@Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
}
