@model IEnumerable<PersonalFinanceManager.Models.BudgetPlan.BudgetPlanListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.BudgetPlanPages;
    ViewBag.GridTitle = Resources.TitleNames.BudgetPlanList;
}

@section BreadCrumbSection
{
    <li>
        <a href="/AccountManagement/Index">Account Management</a>
    </li>
    <li class="active">
        <strong>@ViewBag.GridTitle</strong>
    </li>
}

@section AddButtonSection
{
    <a href="/BudgetPlan/Create" title="add"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="mytable">
        <colgroup>
            <col width="40%" />
            <col width="25%" />
            <col width="25%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayedStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayedEndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayedStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayedEndDate)
                    </td>

                    <td align="right">
                        <a href="/BudgetPlan/View/@item.Id" title="@Resources.ButtonNames.ViewTooltip"><i class="fa fa-file-o"></i></a> 
                        @{
                            if (!item.StartDate.HasValue)
                            {
                                <a href="/BudgetPlan/Edit/@item.Id" title="@Resources.ButtonNames.EditTooltip"><i class="fa fa-pencil-square-o"></i></a> @*|*@
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
