@model IList<PersonalFinanceManager.Models.Expenditure.ExpenditurePerTypeModel>

@{
    ViewBag.Title = Resources.TitleNames.BudgetPlanDashboardPages;
}

@if (ViewBag.BudgetPlanFound)
{
    <input type="hidden" value="@ViewBag.AccountId" id="AccountId" />

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    Bank Account <a href="/BankAccount/Details/@ViewBag.AccountId">@ViewBag.AccountName</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title (@ViewBag.StartDate - @ViewBag.EndDate)</strong>
                </li>
            </ol>
            <br />
        </div>
        <div class="col-lg-3">
            <br />
            <div class="alert alert-info" role="alert">
                <table>
                    <tr>
                        <td><strong>@Html.DisplayName("Budget Plan:")</strong></td>
                        <td>@ViewBag.BudgetPlanName</td>
                    </tr>
                    <tr>
                        <td><strong>@Html.DisplayName("Start Date:")</strong></td>
                        <td>@ViewBag.BudgetPlanStartDate</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row wrapper wrapper-content">
        @*<div class="col-lg-7">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Actual Expenditures vs Planned (6 last months)</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8" id="bcBudgetExpenditures-container">
                            <canvas id="bcBudgetExpenditures" width="700" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Top 10 Expenditure Types</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-8" id="rTop10ExpenditureTypes-container">
                            <canvas id="rTop10ExpenditureTypes" width="450" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
}
else
{
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    Bank Account <a href="/BankAccount/Details/@ViewBag.AccountId">@ViewBag.AccountName</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title (@ViewBag.StartDate - @ViewBag.EndDate)</strong>
                </li>
            </ol>
            <br />
        </div>  
    </div>
    
    <div class="row wrapper wrapper-content">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">There is no started budget plan for this account.</div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/plugins/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/custom/BudgetPlanDashboard.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            showActualVsPlannedBarChart();
            showTop10ExpenditureTypes();
        });
    </script>
}
