@model PersonalFinanceManager.Models.Dashboard.ExpenseSummaryModel

@{
    ViewBag.Title = Resources.TitleNames.ExpenditureSplitDashboardPages;
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Dashboard</h2>
        <ol class="breadcrumb">
            <li>
                @Model.AccountName
            </li>
            <li class="active">
                <strong>Dashboard - Split By Type</strong>
            </li>
        </ol>
        <br />
    </div>
</div>

@if (@Model.DisplayDashboard)
{
    <div class="row wrapper wrapper-content">
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-title">
                    <h5 id="expensesOver12months-title"></h5>
                </div>
                <div class="ibox-content">
                    <canvas id="expensesOver12months-canvas"></canvas>
                </div>
            </div>
        </div>
        
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>@Model.LabelCurrentMonth</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <table class="stripe" id="split-table">
                                <colgroup>
                                    <col width="2%" />
                                    <col width="38%"/>
                                    <col width="15%"/>
                                    <col width="15%"/>
                                    <col width="15%"/>
                                    <col width="15%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>
                                        
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(m => @Model.ExpensesByCategory[0].CategoryName)
                                    </th>
                                    <th style="text-align: right;">
                                        @Html.DisplayNameFor(m => @Model.ExpensesByCategory[0].CostCurrentMonth)
                                    </th>
                                    <th style="text-align: right;">
                                        @Html.DisplayNameFor(m => @Model.ExpensesByCategory[0].CostPlannedMonthly)
                                    </th>
                                    <th style="text-align: right;">
                                        @Model.LabelPreviousMonth
                                    </th>
                                    <th style="text-align: right;">
                                        @Html.DisplayNameFor(m => @Model.ExpensesByCategory[0].CostOver12Month)
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in @Model.ExpensesByCategory)
                                {
                                    <tr id="row-@item.CategoryId" class="clickable-row">
                                        <td>
                                            <svg width="20" height="10">
                                                <rect width="20" height="10" style="fill:#@item.CategoryColor;stroke-width:1;stroke:rgb(0,0,0)" />
                                            </svg>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CategoryName)
                                        </td>
                                        <td align="right">
                                            <strong>@Html.DisplayFor(modelItem => item.DisplayedCostCurrentMonth)</strong>
                                            <br/>
                                            <label style="font-size: x-small;"></label>
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.DisplayedCostPlannedMonthly)
                                            @CustomHelpers.DisplayAmountDifference(@item.DiffCostPlannedMonthly, @item.DisplayedDiffCostPlannedMonthly)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.DisplayedCostPreviousMonth)
                                            @CustomHelpers.DisplayAmountDifference(@item.DiffCostPreviousMonth, @item.DisplayedDiffCostPreviousMonth)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.DisplayedAverageCostOver12Months)
                                            @CustomHelpers.DisplayAmountDifference(@item.DiffAverageCostOver12Months, @item.DisplayedDiffAverageCostOver12Months)
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="categoryNames" />

    <a name="typeOverTimeAnchor"></a>

    <input type="hidden" id="selectedCategoryId" value="" />

    <div id="typeOverTimeDiv" style="display:none;">
        <div class="row wrapper wrapper-content">
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5 id="typeOverTime-title"></h5>
                        <div class="ibox-tools pull-right">
                            <a class="close-link" onclick="closeTypeOverTimeDiv()" style="color: lightgrey;">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-6" id="typeOverTime-container">
                                <canvas id="typeOverTime" width="600" height="300"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox" id="detailExpensesContainer" style="display: none;">
                    <div class="ibox-title">
                        <h5 id="detailExpensesMonthly-title"></h5>
                        <div class="ibox-tools pull-right">
                            <a class="close-link" onclick="closeDetailExpensesContainer()" style="color: lightgrey;">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="stripe" id="detailExpensesMonthly-table">
                            <colgroup>
                                <col width="20%" />
                                <col width="60%" />
                                <col width="20%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Cost</th>
                            </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
}
else
{
    <div class="row wrapper wrapper-content">
        <div class="col-lg-12">
            <div class="alert alert-danger" role="alert">There is no expenditures for this account.</div>
        </div>
    </div>
}

@section style
{
    <link rel="stylesheet" type="text/css" href="~/Content/custom/ExpensesByCategoryDashboard.css">
}

@section scripts
{
    <script src="~/Scripts/plugins/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/custom/Utils.js"></script>
    <script src="//cdn.datatables.net/plug-ins/1.10.13/api/page.jumpToData().js"></script>
    <script src="~/Scripts/custom/SplitByTypeDashboard.js"></script>
    
    <script id="rowTemplate" type="text/x-custom-template">
        <tr>
            <td>
                ${DisplayedDateExpenditure}
            </td>
            <td>
                ${Description}
            </td>
            <td align="right">
                ${DisplayedCost}
            </td>
        </tr>
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            var model = @Html.Raw(Json.Encode(Model));

            if (model.DisplayDashboard) {

                var pageSize = 4;

                $(".clickable-row").click(function() {
                    var category = $(this).data("category");
                    $("#selectedCategoryId").val(category.CategoryId);
                    showExpenditureTypeOverTime(category);
                });

                updatePieChartExpensesOver12Months(model.ExpensesByCategory, model.TotalExpensesOver12Months, model.CurrencySymbol);

                var categoryNames = [];
                //var pageCount = 1;
                //var expCount = 1; 
                $.each(model.ExpensesByCategory, function(idx, cat) {
                    $('#row-' + cat.CategoryId).data('category', cat);
                    //if (expCount % pageSize === 0) {
                    //    pageCount++;
                    //}
                    categoryNames[cat.CategoryName] = cat.CategoryId;
                });
                $("#categoryNames").data('categorynames', categoryNames);

                $('#split-table').DataTable({
                    "iDisplayLength": pageSize,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort" : false,
                    "order": [[ 2, "desc" ]]
                });
            }
        });

    </script>

}