@model PersonalFinanceManager.Models.Country.CountryEditModel

@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.CountryPages;
    ViewBag.FormTitle = Resources.TitleNames.CountryEdit;
}

@section EditorSection
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
    
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            @Html.FieldEditor(model => model.Name)
        
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.ButtonNames.EditSaveButton" class="btn btn-primary" />
                    @Html.ActionLink(@Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

@section ScriptsSection {
    @Scripts.Render("~/bundles/jqueryval")
}
