@model PersonalFinanceManager.Models.AtmWithdraw.AtmWithdrawEditModel

@{
    Layout = "~/Views/Shared/_LayoutConfirmDeletion.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.AtmWithdrawPages;
    ViewBag.FormTitle = Resources.TitleNames.AtmWithdrawDelete;
    ViewBag.DetailsTitle = Resources.TitleNames.AtmWithdrawDelete;
    ViewBag.ConfirmationMessage = Resources.ConfirmationMessages.AtmWithdrawConfirmationDeletion;
}


@section BreadCrumbSection
{
<li>
    <a href="/Dashboard/SplitByTypeDashboard">Account Management</a>
</li>
<li class="active">
    <strong>@ViewBag.FormTitle</strong>
</li>
}

@section AccountDetails
{
    <div class="alert alert-info" role="alert">
        <table>
            <tr>
                <td><strong>@Html.DisplayName("Current Amount:")</strong></td>
                <td>@ViewBag.CurrentAmount</td>
            </tr>
        </table>
    </div>
}

@section DetailsSection
{
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisplayedDateExpenditure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayedDateExpenditure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialAmount)
        </dd>
    </dl>

}

@section DeletionButtonSection
{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resources.ButtonNames.DeleteButton" class="btn btn-primary btn_delete" /> 
            @Html.ActionLink(@Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
        </div>
    }
}

