@model IEnumerable<PersonalFinanceManager.Models.Income.IncomeListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.IncomePages;
    ViewBag.GridTitle = Resources.TitleNames.IncomeList;

    ViewBag.DeletionConfirmationTitle = Resources.TitleNames.IncomeDelete;
    ViewBag.DeletionConfirmationMessage = Resources.ConfirmationMessages.IncomeConfirmationDeletion;
}

@section BreadCrumbSection
{
<li>
    <a href="/AccountManagement/Index">Account Management</a>
</li>
<li class="active">
    <strong>@ViewBag.GridTitle</strong>
</li>
}

@section AccountDetails
{
    <div class="alert alert-info" role="alert">
        <table>
            <tr>
                <td><strong>@Html.DisplayName("Current Amount:")</strong></td>
                <td>@ViewBag.CurrentAmount</td>
            </tr>
        </table>
    </div>
}

@section AddButtonSection
{
    <a href="/Income/Create" title="add" class="btn_create"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="mytable2">
        <colgroup>
            <col width="15%" />
            <col width="15%" />
            <col width="50%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.DateIncome)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(modelItem => modelItem.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="trIncome">
                    <td class="tdDateIncome">
                        @Html.DisplayFor(modelItem => item.DisplayedDateIncome)
                    </td>
                    <td class="tdCost">
                        @Html.DisplayFor(modelItem => item.DisplayedCost)
                    </td>
                    <td class="tdDescription">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td align="right" class="tdActions">
                        @CustomHelpers.ListButtons(@item.Id, true, false, "Income", "", @item.Description)
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
