@model PersonalFinanceManager.Models.BudgetPlan.BudgetPlanEditModel

@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.BudgetPlanPages;
    ViewBag.FormTitle = Resources.TitleNames.BudgetPlanEdit;
}

@section EditorSection
{
    @using (Html.BeginForm(null, null, FormMethod.Get, new { name = "budgetPlanForm", id = "budgetPlanForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Id);

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-11">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    <label id="Name_ErrorMsg" style="color: red; display: none; font-weight: normal;" ></label>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-1">Split</label>
                <div class="col-md-11">
                    <label id="ExpenditureTypes_ExpectedValue_ErrorMsg" style="color: red; font-weight: normal; display:none;">Helloworld</label>
                    <table class="stripe" id="mytable4">
                        <colgroup>
                            <col width="40%" />
                            <col width="20%" />
                            <col width="20%" />
                            <col width="20%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpenditureTypes[0].ExpenditureType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpenditureTypes[0].ExpectedValue) 
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpenditureTypes[0].PreviousMonthValue)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpenditureTypes[0].AverageMonthValue)  
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 0;
                                foreach (var item in Model.ExpenditureTypes)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExpenditureType.Name)
                                            <input type="hidden" name="ExpenditureTypes[@i].ExpenditureType.Id" id="model_ExpenditureTypes[@i].ExpenditureType.Id" value="@item.ExpenditureType.Id" />
                                        </td>
                                        <td align="right">
                                                <input style="text-align:right; width: 150px;"
                                                       class="form-control"
                                                       id="model_ExpenditureTypes[@i].ExpectedValue"
                                                       name="ExpenditureTypes[@i].ExpectedValue"
                                                       type="number"
                                                       value="@item.ExpectedValue"
                                                       min="0"
                                                       step="0.01">
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.DisplayedPreviousMonthValue)
                                        </td>
                                        <td align="right">
                                            @Html.DisplayFor(modelItem => item.DisplayedAverageMonthValue)
                                        </td>
                                    </tr>
                                    i++;
                                }
                            } 
                        </tbody>
                    </table>
                    <table class="table borderless">
                        <colgroup>
                            <col width="40%" />
                            <col width="20%" />
                            <col width="20%" />
                            <col width="20%" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td align="right"><strong>Total Expenditures</strong></td>
                                <td align="right">
                                    <input style="text-align:right; width: 150px;"
                                           class="form-control"
                                           id="TotalExpectedValue"
                                           name="TotalExpectedValue"
                                           type="number"
                                           min="0"
                                           disabled="disabled"
                                           step="0.01">                                   
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(model => model.DisplayedExpenditurePreviousMonthValue)
                                </td>
                                <td align="right">
                                    @Html.DisplayFor(model => model.DisplayedExpenditureAverageMonthValue)
                                </td>
                            </tr>
                            <tr>
                                <td align="right"><strong>Total Incomes</strong></td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    <input style="text-align:right; width: 150px;"
                                           class="form-control"
                                           id="ReferenceMonthTotalIncome"
                                           name="ReferenceMonthTotalIncome"
                                           type="number"
                                           value="@Model.IncomePreviousMonthValue"
                                           min="0"
                                           step="0.01">
                                </td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    @Html.DisplayFor(model => model.DisplayedIncomePreviousMonthValue)
                                </td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    @Html.DisplayFor(model => model.DisplayedIncomeAverageMonthValue)
                                </td>
                            </tr>
                            <tr>
                                <td align="right"><strong>TOTAL LEFT</strong></td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    <input style="text-align:right; width: 150px;"
                                           class="form-control"
                                           id="Total"
                                           name="Total"
                                           type="number"
                                           min="0"
                                           disabled="disabled"
                                           step="0.01">     
                                </td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    @Html.DisplayFor(model => model.DisplayedTotalPreviousMonthValue)
                                </td>
                                <td align="right" style="border-top:lightgrey dotted 1px">
                                    @Html.DisplayFor(model => model.DisplayedTotalAverageMonthValue)
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td align="right">
                                    <button type="button" class="btn btn-warning btn-xs" onclick="recompute()">Recompute</button>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" onclick="editBudgetPlan()" value="@Resources.ButtonNames.AddSaveButton" class="btn btn-primary" />
                    @Html.ActionLink(Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

@section ScriptsSection {

    <script src="~/Scripts/custom/Utils.js"></script>
    <script src="~/Scripts/custom/BudgetPlan.js"></script>
    <script type="text/javascript">
        recompute();
    </script>
}

