@model PersonalFinanceManager.Models.Salary.SalaryEditModel

@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.SalaryPages;
    ViewBag.FormTitle = Resources.TitleNames.SalaryEdit;
}

@section BreadCrumbSection
{

}


@section EditorSection
{
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">
            
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            @Html.HiddenFor(model => model.Id)

            @Html.FieldEditor(model => model.Description)
            
            <div class="form-group">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.StartDate, new { @Value = Model.DisplayedStartDate, @class = "form-control"})
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.TextBoxFor(model => model.EndDate, new { @Value = Model.DisplayedEndDate, @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.CurrencyId, htmlAttributes: new { @class = "control-label col-lg-2" })
                <div class="col-lg-10">
                    @Html.DropDownListFor(model => model.CurrencyId, @Model.AvailableCurrencies, "", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.FieldEditor(model => model.YearlySalary)

            @Html.FieldEditor(model => model.MonthlyGrossPay)

            @Html.FieldEditor(model => model.MonthlyNetPay)

            @Html.FieldEditor(model => model.TaxCode)

            @Html.FieldEditor(model => model.TaxPercentage)

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.ButtonNames.AddSaveButton" class="btn btn-primary btn_save" />
                    @Html.ActionLink(Resources.ButtonNames.CancelButton, "Index", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>

        </div>
    }
}

@section ScriptsSection
{
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/custom/Salary.js"></script>
    
    <script type="text/javascript">

        $(function () {

            $("#StartDate").datepicker({ dateFormat: "dd/mm/yy" });

            $("#EndDate").datepicker({ dateFormat: "dd/mm/yy" });

            $.validator.methods.date = function (value, element) {
                Globalize.culture("en-UK");
                return this.optional(element) || Globalize.parseDate(value) !== null;
            }
        });

    </script>
}
