@model IEnumerable<PersonalFinanceManager.Models.Salary.SalaryListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.SalaryPages;
    ViewBag.GridTitle = Resources.TitleNames.SalaryList;
}

@section BreadCrumbSection
{

}

@section AddButtonSection
{
    <a href="/Salary/Create" title="add" class="btn_create"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="mytable2">
        <colgroup>
            <col style="width:8%" />
            <col style="width:8%" />
            <col style="width:15%" />
            <col style="width:15%" />
            <col style="width:12%" />
            <col style="width:12%" />
            <col style="width:12%" />
            <col style="width:5%" />
        </colgroup>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Description)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.YearlySalary)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.MonthlyGrossPay)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.MonthlyNetPay)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="trSalary">
                    <td class="tdStartDate">
                        @Html.DisplayFor(modelItem => item.DisplayedStartDate)
                    </td>
                    <td class="tdEndDate">
                        @Html.DisplayFor(modelItem => item.DisplayedEndDate)
                    </td>
                    <td class="tdDescription">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="tdCountry">
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td class="tdYearlySalary">
                        @Html.DisplayFor(modelItem => item.DisplayedYearlySalary)
                    </td>
                    <td class="tdYearlySalary">
                        @Html.DisplayFor(modelItem => item.DisplayedMonthlyGrossPay)
                    </td>
                    <td class="tdYearlySalary">
                        @Html.DisplayFor(modelItem => item.DisplayedMonthlyNetPay)
                    </td>
                    <td align="right" class="tdActions">
                        <a href="/Salary/Copy?sourceId=@item.Id" title="@Resources.ButtonNames.CopyButton" class="btn_copy"><i class="fa fa-clone"></i></a>
                        @Html.Raw("|")
                        @CustomHelpers.ListButtons(@item.Id, true, "Salary", "")
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
