@model PersonalFinanceManager.Models.UserProfile.UserProfileEditModel

@{
    Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.UserProfilePages;
    ViewBag.FormTitle = Resources.TitleNames.UserProfileCreate;
}

@section EditorSection
{
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.FieldEditor(model => model.FirstName)

            @Html.FieldEditor(model => model.LastName)

            <div class="form-group">
                <div class="control-label col-md-2">
                    @Html.LabelFor(model => model.YearlyWages)&nbsp;
                    <a title="@Resources.FieldHelper.UserProfileYearlyWagesCurrency"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
                </div>

                <div class="col-md-10">
                    @Html.EditorFor(model => model.YearlyWages, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YearlyWages, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.FieldEditor(model => model.SourceWages)
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@Resources.ButtonNames.AddSaveButton" class="btn btn-primary" />
                    @Html.ActionLink(Resources.ButtonNames.BackButton, "ViewDetails", null, htmlAttributes: new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

@section ScriptsSection {
    @Scripts.Render("~/bundles/jqueryval")
}


