@model PersonalFinanceManager.Models.Home.HomePageModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <label style="font-size: 24px;">Welcome</label>
                        <br />
                        <small>Getting started by managing your personal finance and visualising your expenses on dashboards.</small>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="~/Resources/dashboard-addExpenditures.png" style="width: 60px;" />
                            </div>
                            <div class="col-lg-9">
                                <label style="font-size: 20px;">Manage your finance</label>
                                <br />
                                <a href="/Expenditure/Create">Add an expense</a>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="~/Resources/dashboard-planBudget.png" style="width: 60px;" />
                            </div>
                            <div class="col-lg-9">
                                <label style="font-size: 20px;">Plan the future</label>
                                <br />
                                <a href="/BudgetPlan/Create">Add a budget plan</a>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="~/Resources/dashboard-visualizeExpenditures.png" style="width: 60px;" />
                            </div>
                            <div class="col-lg-9">
                                <label style="font-size: 20px;">Analyze your data</label>
                                <br />
                                <a href="/AccountManagement/Index">Visualize your expenses</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content">
                        @foreach (var item in @Model.AmountDebitMovementPercentagePerPaymentMethods)
                        {
                            <div>
                                <span>@item.PaymentMethod.Name</span>
                                <small class="pull-right">@item.AmountExpendituresPercent %</small>
                            </div>
                                <div class="progress progress-small">
                                    <div style="width: @item.AmountExpendituresPercent%;" class="progress-bar progress-bar-@item.PaymentMethod.CssClass" title="% Money spent in @item.PaymentMethod.Name"></div>
                                </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget red-bg p-lg text-center">
                            <div class="m-b-md">
                                <i class="fa fa-thumbs-up fa-4x"></i>
                                <h1 class="m-xs" style="font-size: 26px;">@Model.TotalNumberOfDebitMovements</h1>
                                <h3 class="font-bold no-margins" style="font-size: 15px;">
                                    Debit Movements
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="widget navy-bg p-lg text-center">
                            <div class="m-b-md">
                                <i class="fa fa-calendar fa-4x"></i>
                                <h1 class="m-xs" style="font-size: 26px;">@Model.DisplayFirstMovementDate</h1>
                                <h3 class="font-bold no-margins" style="font-size: 15px;">
                                    First Movement
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget lazur-bg p-lg text-center">
                            <div class="m-b-md">
                                <i class="fa fa-money fa-4x"></i>
                                <h1 class="m-xs" style="font-size: 26px;">@Model.DisplayUserYearlyIncome</h1>
                                <h3 class="font-bold no-margins" style="font-size: 15px;">
                                    Yearly Income
                                </h3>
                            </div>
                        </div>
                    </div>
                    @if (@Model.FavoriteConversionRate != null)
                    { 
                        <div class="col-lg-6">
                            <div class="widget yellow-bg p-lg text-center">
                                <div class="m-b-md">
                                    <i class="fa fa-refresh fa-4x"></i>
                                    <h1 class="m-xs" style="font-size: 26px;">@Model.FavoriteConversionRate.DisplayCurrencyConversionRate</h1>
                                    <h3 class="font-bold no-margins" style="font-size: 15px;">
                                        Worth 1 @Model.FavoriteConversionRate.BaseCurrencySymbol
                                    </h3>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>

            </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <canvas id="lDebitMovementsOverTime" width="700" height="300"></canvas>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4">

                <div class="ibox">
                    <div class="ibox-title">Favorite Bank Details</div>
                    <div class="ibox-content">
                        @if (@Model.FavoriteBankDetails == null)
                        {
                            <label>No favorite account!</label>
                        }
                        else
                        {
                            <div class="row">
                                <div class="col-lg-3">
                                    <img src="@Model.FavoriteBankDetails.IconPath" style="width: 80px;" />
                                </div>
                                <div class="col-lg-9">
                                    <ul class="list-unstyled m-t-md">
                                        <li>
                                            <span class="fa fa-globe m-r-xs"></span>
                                            <label>Website:</label>
                                            <a href="http://@Model.FavoriteBankDetails.Website">@Model.FavoriteBankDetails.Website</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-home m-r-xs"></span>
                                            <label>Address:</label>
                                            @Model.DisplayFavoriteBankFullAddress
                                        </li>
                                        <li>
                                            <span class="fa fa-phone m-r-xs"></span>
                                            <label>Appt Phone Number:</label>
                                            @Model.FavoriteBankDetails.FavoriteBranch.PhoneNumber
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>
        </div>
    
</div>

 @section scripts
 {
    <script src="~/Scripts/plugins/chartjs/Chart.min.js"></script>
    <script src="~/Scripts/custom/HomePage.js"></script>
    <script type="text/javascript">
        showDebitMovementsOverTime();
    </script>
}  