@model IEnumerable<PersonalFinanceManager.Models.Currency.CurrencyListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.CurrencyPages;
    ViewBag.GridTitle = Resources.TitleNames.CurrencyList;
}

@section AddButtonSection
{
    <a href="/Currency/Create" title="add"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="mytable">
        <colgroup>
            <col width="70%" />
            <col width="20%" />
            <col width="10%" />
        </colgroup>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Symbol)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>

                    <td align="right">
                        @CustomHelpers.ListButtons(@item.Id, item.CanBeDeleted, "Currency", @Resources.DisabledButtonTooltips.CurrencyCantBeDeleted)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
