@model IEnumerable<PersonalFinanceManager.Models.Pension.PensionListModel>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.PageTitle = Resources.TitleNames.PensionPages;
    ViewBag.GridTitle = Resources.TitleNames.PensionList;
}

@section BreadCrumbSection
{

}

@section AddButtonSection
{
    <a href="/Pension/Create" title="add" class="btn_create"><i class="fa fa-plus"></i></a>
}

@section GridSection
{
    <table class="stripe" id="mytable2">
        <colgroup>
            <col style="width: 15%" />
            <col style="width: 15%" />
            <col style="width: 35%" />
            <col style="width: 20%" />
            <col style="width: 10%" />
            <col style="width: 5%" />
        </colgroup>
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.Description)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.CurrentPot)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="trPension">
                    <td class="tdStartDate">
                        @Html.DisplayFor(modelItem => item.DisplayedStartDate)
                    </td>
                    <td class="tdEndDate">
                        @Html.DisplayFor(modelItem => item.DisplayedEndDate)
                    </td>
                    <td class="tdDescription">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="tdCountry">
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td class="tdCurrentPot">
                        @Html.DisplayFor(modelItem => item.CurrentPot)
                    </td>
                    <td align="right" class="tdActions">
                        @CustomHelpers.ListButtons(@item.Id, true, "Pension", "")
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
